<div class="post-comments-modal">
	<small class="post-comment-name">
		<a href="" class=" black-text">Mashiyyat Delos Santos</a>
	</small>
	<div class="valign-wrapper">
		<%= image_tag "avatar.jpg" , class:"circle" , style:"width:12%" %>
		<p class="post-comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>	
	</div>
</div>