<div class="container" style="margin-top: 50px;">	
	<div class="row trending-container">
		<p class="header-title"><a href="">Trending</a></p>
		<%= render 'content_partials/content' %>
	</div>
</div>