<div id="modal-update-bio" class="modal">
	<div class="modal-content">
		<center><h4>Add bio</h4></center>
		<div class="input-field">
			<i class="material-icons prefix">create</i>
			<label>Add bio</label>
			<input type="text" id="add-bio">
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn waves-effect waves-yellow modal-close modal-action">Cancel</button>
		<button class="btn waves-effect waves-blue green" id="save-bio" type="submit">Save</button>
	</div>
</div>