<%= form_for @user , url: update_bio_path(current_user.id) , method: :put do |f| %>
  <div class="modal-content">
  	<center><h4>Add bio</h4></center>
  	<div class="input-field">
  		<i class="material-icons prefix">create</i>
  		<label>Add bio</label>
      <% if @bio.blank? %>
        <%= f.text_field :bio, autofocus: true %>
      <% else %>
        <%= f.text_field :bio , value: current_user.bio, autofocus: true %>
      <% end %>
  	</div>
  </div>
  <div class="modal-footer">
  	<a class="modal-action modal-close waves-effect waves-yellow btn-flat red white-text">Cancel</a>
  	<%= f.submit "Save" , class: "modal-action waves-effect waves-blue btn-flat green white-text" %>
  </div>
<% end %>