<footer class="page-footer purple lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">WALA PANG LAMAN TO</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://www.facebook.com/delossantos.mashiyyat.sass" target="_blank">
              Facebook
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!" onclick="Materialize.toast('Nothing to see here' , 1000)">Instagram
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!" onclick="Materialize.toast('Nothing to see here' , 1000)">
            Twitter
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!" onclick="Materialize.toast('Nothing to see here' , 1000)">
              Imgur
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright purple darken-2">
    <div class="container">
    © 2018 Copyright SUMIMACHINE
    <% if user_signed_in? %>
      <%= link_to "Logout" , destroy_user_session_path , method: :delete , class:"grey-text text-lighten-4 right" %>
    <% else %>
      <%= link_to "Join us" , new_user_session_path , class:"grey-text text-lighten-4 right" %>
    <% end %>
    </div>
  </div>
</footer>