<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag "cover.png" , style:"width:100%" %>
      <div class="caption center-align">
        <h3 class="font-title">Welcome to Sumimachine</h3>
        <h5 class="light grey-text text-lighten-3 font-title">We are community here.</h5>
      </div>
    </li>
    <li>
     <%= image_tag "cover3.jpg" , style:"width:100%" %>
      <div class="caption left-align">
        <h3 class="font-title">Weabs everwhere</h3>
        <h5 class="light grey-text text-lighten-3 font-title">It is Nonstop !!!</h5>
      </div>
    </li>
    <li>
      <%= image_tag "cover2.png" , style:"width:100%" %>
      <div class="caption right-align">
        <h3 class="font-title">Sumimachine</h3>
        <h5 class="light grey-text text-lighten-3 font-title">C A N C E R !!!.</h5>
      </div>
    </li>
    <li>
      <%= image_tag "cover4.jpg" , style:"width:100%" %>
      <div class="caption center-align">
        <h3 class="font-title">Share and Join US now !!!</h3>
        <h5 class="light grey-text text-lighten-3 font-title">HAHAHAHHAHA.</h5>
      </div>
    </li>
  </ul>
</div>

<style>
  .slider {
    margin-top: 64px;
  }
  .font-title {
    font-family: Quicksand;
    text-shadow: 3px 0px 20px #000000;
    color: white;
  }
  .slider .indicators .indicator-item.active {
    background-color: #ba68c8 !important;
  }
</style>