<nav class="purple">
  <div class="nav-wrapper container">
    <%= link_to "Sumimachine",  root_path , class:"brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  <!-- navbar -->
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to profile_path do %>
          <i class="material-icons">person</i>
        <% end %>
      </li>
      <li>
        <%= link_to profile_path do %>
          <i class="material-icons">messages</i>
        <% end %>
      </li>
      <li>
        <%= link_to profile_path do %>
          <i class="material-icons">sentiment_very_satisfied</i>
        <% end %>
      </li>
      <li>
        <a class="dropdown-button" data-activates="dropdown-notification">
          <i class="material-icons">notifications</i>
        </a>
      </li>
      <li>
        <a class="dropdown-button" data-activates="dropdown-logout">
          <i class="material-icons">more_vert</i>
        </a>
      </li>
    </ul>

  <!-- dropdowns -->
    <ul id="dropdown-notification" class="dropdown-content notification-drop">
      <% @notification.each do |notif| %>
        <li>
          <a href="" class="center valign-wrapper">
            <i class="material-icons">sentiment_very_satisfied</i>
            <%= notif.content %>
          </a>
        </li> 
      <% end %> 
    </ul>

    <ul id="dropdown-logout" class="dropdown-content setting-drop">
      <li><%= link_to "Settings" , edit_user_registration_path, class:"center" %></li>
      <li><%= link_to "Logout" , destroy_user_session_path , method: :delete , class:"center" %></li> 
    </ul>
  <!-- navbar -->

  <!-- side nav -->
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to current_user.firstname, profile_path %></li>
      <li><a href="#">Anime</a></li>
      <li><a href="#">Games</a></li>
      <li><a href="#">Manga</a></li>
      <li><a href="#">Music</a></li>
    </ul>
  <!-- side nav -->
  </div>

  <nav class="purple lighten-2">
    <div class="nav-wrapper container">
      
      <ul class="hide-on-med-and-down">
        <li><a href="#">Anime</a></li>
        <li><a href="#">Manga</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Games</a></li>
      </ul>

      <ul class="right hide-on-large-only">
        <li>
          <%= link_to profile_path do %>
            <i class="material-icons">person</i>
          <% end %>
        </li>
        <li>
          <%= link_to profile_path do %>
            <i class="material-icons">messages</i>
          <% end %>
        </li>
        <li>
          <%= link_to profile_path do %>
            <i class="material-icons">sentiment_very_satisfied</i>
          <% end %>
        </li>
        <li>
          <a class="dropdown-button" data-activates="dropdown-notification-2">
            <i class="material-icons">notifications</i>
          </a>
        </li>
        <li>
          <a class="dropdown-button" data-activates="dropdown-logout-2">
            <i class="material-icons">more_vert</i>
          </a>  
        </li>
      </ul>
      <!-- dropdown-notification-2 -->
      <ul id="dropdown-notification-2" class="dropdown-content notification-drop">
        <% @notification.each do |notif| %>
          <li>
            <a href="" class="center valign-wrapper">
              <i class="material-icons">sentiment_very_satisfied</i>
              <%= notif.content %>
            </a>
          </li> 
        <% end %>
      </ul>
      <!-- dropdown logout -->
      <ul id="dropdown-logout-2" class="dropdown-content setting-drop">
        <li><%= link_to "Settings" , edit_user_registration_path, class:"center" %></li>
        <li><%= link_to "Logout" , destroy_user_session_path , method: :delete , class:"center" %></li> 
      </ul>

    </div>
  </nav><!-- 2nd NAVBAR -->
</nav><!-- 1st NAVBAR -->


<style>
  body {
    font-family: Quicksand;
  }

  .notification-drop {
    width: 35%!important;
    font-size: 10px!important;
    top:100%!important;
    left:75%!important;
  }

  .setting-drop {
    top: 100%!important;
  }
  .notification-drop a {
    font-size: 11px!important;
  }

  .dropdown-content li > a, .dropdown-content li > span {
    color: #896694!important;
  }
</style>